services:
  qemu:
    image: qemux/qemu
    container_name: qemu
    environment:
      BOOT: "https://drive.google.com/uc?export=download&id=1wpbYPwOSguBDO9etPdq5pQmoR9FVlfM9"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
    volumes:
      - ./qemu:/storage
    restart: always
    stop_grace_period: 2m
